.header .nav a {
    position: relative;
}

.header .nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-tertiaire);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.header .nav a:hover::before {
    transform: scaleX(1);
}

.header .nav a:not(:hover)::before {
    transform-origin: right;
    transition: transform 0.4s ease;
}

.btn_projets {
    position: relative;

    padding: 0;
    font-size: 16px;

    border: none;

    overflow: hidden;
    display: flex;
    align-items: center;
}

.btn_projets a {
    position: relative;
    display: flex;
}

.btn_projets a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-secondaire-typo);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.btn_projets a:hover::before {
    transform: scaleX(1);
}

.btn_projets a:not(:hover)::before {
    transform-origin: right;
    transition: transform 0.4s ease;
}

.arrow-icon {
    position: relative;
    overflow: hidden;
}

.arrow-icon .icon {
    display: inline-block;
    position: relative;
    transition: transform 0.4s ease-in-out;
}

.btn_projets a:hover .arrow-icon .icon {
    animation: MoveUpInitial 0.3s forwards, MoveUpEnd 0.3s forwards 0.3s;
}

@keyframes moveFleche {
    0%,
    100% {
        transform: translate(0, 0); /* Start position */
    }
    50% {
        transform: translate(
            20px,
            -20px
        ); /* Move diagonally up and to the right */
    }
}

@keyframes MoveUpInitial {
    0% {
        transform: translate(0, 0); /* Starting position */
        opacity: 1;
    }
    100% {
        transform: translate(100%, -100%); /* Diagonal move to the top-right */
        opacity: 0;
    }
}

@keyframes MoveUpEnd {
    0% {
        transform: translate(
            -100%,
            100%
        ); /* Start from the bottom-left corner */
        opacity: 0;
    }
    100% {
        transform: translate(0, 0); /* Move to the original position */
        opacity: 1;
    }
}
