.swiper {
    height: 800px;

    .lien {
        // display: inline-block;
        width: fit-content; //display inline-block fontionne aussi

        padding: 10px;

        border: 1px solid var(--color-primary);
    }

    a {
        position: relative;
        color: var(--color-secondaire-typo);

        transition: background-color 0.6s ease;

        padding: 10px;

        &:hover {
            background-color: var(--color-tertiaire);
        }
    }

    a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;

        top: 0;
        left: 0;
        box-sizing: border-box;

        transform: scale(0);
        transform-origin: top left;

        transition: transform 0.6s ease, border-color 0.6s ease; /* Animation timing */
    }

    a:hover:after {
        transform: scale(1);

        border-top-color: var(--color-primary);
        border-left-color: var(--color-primary);
    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;

        top: 0;
        left: 0;
        box-sizing: border-box;

        transform: scale(0);
        transform-origin: bottom right;

        transition: transform 0.6s ease, border-color 0.6s ease; /* Animation timing */
    }

    a:hover:before {
        transform: scale(1);

        border-bottom-color: var(--color-primary);
        border-right-color: var(--color-primary);
    }
}

.swiper-slide {
    position: relative;
    display: flex;
}

.swiper-content {
    display: flex;
    width: 600px;

    justify-content: center;
    align-items: center;

    gap: 39px;
}

.ligne_projet {
    width: 1px;
    height: 380px;
    background-color: var(--color-secondaire-typo);
}

.type_projet {
    display: flex;
    gap: 23px;
    align-items: center;

    .divider_type {
        width: 1px;
        height: 20px;
        background-color: var(--color-black);
    }
}

.swiper-media {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 25%;
    width: 1070px;
    height: 661px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

.numero_projet {
    .h1-bkg {
        color: transparent; /* No fill color */
        -webkit-text-stroke: 2px var(--color-primary); /* White stroke of 2px width */
        text-wrap: nowrap;

        position: absolute;
        z-index: -2;
        right: 5%;
        top: -13%;
    }
}
