.carousel {
    height: 800px;

    .carousel-wrapper {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        gap: 50px;
    }

    .lien {
        // display: inline-block;
        width: fit-content; //display inline-block fontionne aussi

        padding: 10px;

        border: 1px solid var(--color-primary);
    }

    a {
        position: relative;
        color: var(--color-secondaire-typo);

        transition: background-color 0.6s ease;

        padding: 10px;

        &:hover {
            background-color: var(--color-tertiaire);
        }
    }

    a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;

        top: 0;
        left: 0;
        box-sizing: border-box;

        transform: scale(0);
        transform-origin: top left;

        transition: transform 0.6s ease, border-color 0.6s ease; /* Animation timing */
    }

    a:hover:after {
        transform: scale(1);

        border-top-color: var(--color-primary);
        border-left-color: var(--color-primary);
    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;

        top: 0;
        left: 0;
        box-sizing: border-box;

        transform: scale(0);
        transform-origin: bottom right;

        transition: transform 0.6s ease, border-color 0.6s ease; /* Animation timing */
    }

    a:hover:before {
        transform: scale(1);

        border-bottom-color: var(--color-primary);
        border-right-color: var(--color-primary);
    }

    .carousel-slide {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

        width: 100vw;
        min-width: 100vw;
        height: 90vh;
        padding: 5vw;
    }
    .carousel-content {
        height: 100vh;
        width: 100vw;
        display: grid;
        align-items: center;

        @media screen and (max-width: 1160px) {
            align-items: flex-start;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 0fr 6fr;
        max-width: 575px;
        width: 575px;

        justify-content: center;
        align-items: flex-end;

        gap: 15px;
        margin-top: 25px;

        @media screen and (max-width: 500px) {
        }
    }

    p {
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 350px;
    }

    .info_projet {
        display: grid;

        gap: 45px;

        @media screen and (max-width: 1160px) {
            gap: 20px;
        }
    }

    .ligne_projet {
        width: 1px;
        height: 100%;
        background-color: var(--color-secondaire-typo);
    }

    .type_projet {
        display: flex;
        gap: 23px;
        align-items: center;

        .divider_type {
            width: 1px;
            height: 20px;
            background-color: var(--color-black);
        }
    }

    .carousel-media {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 25%;
        max-width: 1070px;
        width: 100vw;
        height: 100vw;
        max-height: 661px;
        img {
            // padding: 0 15px;
            max-width: 1070px;
            max-height: 661px;
            width: 100vw;
            height: 100vw;
            object-fit: cover;
            object-position: center;
            display: block;
        }

        @media screen and (max-width: 1160px) {
            left: 0;
            bottom: 2%;
        }
    }

    .numero_projet {
        height: 50vh;
        position: absolute;
        z-index: -2;
        top: -35%;
        right: -25%;

        .h1-bkg {
            color: transparent; /* No fill color */
            -webkit-text-stroke: 2px var(--color-primary); /* White stroke of 2px width */
            text-wrap: nowrap;
        }

        @media screen and (max-width: 1600px) {
            right: -15%;
        }

        @media screen and (max-width: 1160px) {
            display: none;
        }
    }
}
