.hero {
    height: 100vh;
    color: var(--color-bkg);
    position: relative;
    z-index: 15;

    .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .deux_etoiles {
        position: absolute;
        bottom: 30%;
        left: 40%;

        animation: float 6s ease-in-out infinite;

        .moyenne_etoile {
            stroke-width: 0.2px;
            //animation: float 3s ease-in-out infinite;
        }

        .petite_etoile_verte {
            position: absolute;
            right: -15%;
            bottom: -15%;
            display: flex;
            justify-content: flex-end;
            animation: float 4s ease-in-out infinite;
        }
    }

    .cercle_dessous_titre_gauche {
        position: absolute;
        top: 45%;
        left: 15%;

        animation: float 6s ease-in-out infinite;
        .cercle {
            width: 2.71vw;
            height: 2.71vw; //keep it a perfect circle
            max-width: 80vw;
            max-height: 80vh;

            background-color: var(--color-primary);
            border-radius: 100%;
        }
    }

    .cercle_en_haut_droite {
        position: absolute;
        top: 5%;
        right: 5%;

        animation: float 6s ease-in-out infinite;
        .cercle {
            width: 2.71vw;
            height: 2.71vw; //keep it a perfect circle
            max-width: 80vw;
            max-height: 80vh;

            background-color: var(--color-primary);
            border-radius: 100%;
        }
    }

    .hero_media {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .emplacement_media {
        position: absolute;
        z-index: -1;
        right: 25%;

        @media screen and (max-width: 500px) {
            top: 15%;
            right: 4%;
        }
    }

    .img_eve {
        position: relative;

        width: 100%;
        max-width: 441px;
        height: auto;

        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;

        border-top-left-radius: 217px;
        border-top-right-radius: 217px;

        margin-top: 17px;

        /* Add a smooth transition for width and height */
        transition: width 0.5s ease, max-width 0.5s ease;

        @media screen and (max-width: 500px) {
            max-width: 300px;
            margin-top: 10px;
        }
    }

    img {
        width: 100%;
        height: auto;

        object-fit: cover;
        object-position: left;
        z-index: 5;

        border-top-left-radius: 217px;
        border-top-right-radius: 217px;

        padding: 15px;

        /* Transition for width and height */
        transition: width 0.5s ease, height 0.5s ease;

        @media screen and (max-width: 500px) {
            padding: 10px;
        }
    }

    .img_bottom_droit {
        position: absolute;
        height: 24px;
        bottom: 0%;
        right: -1%;
        max-width: 10px;
        width: 100%;
        background-color: var(--color-white);
    }

    .img_bottom_gauche {
        position: absolute;
        height: 24px;
        bottom: 0%;
        left: -1%;
        max-width: 10px;
        width: 100%;
        background-color: var(--color-white);
    }
    .etoile_top {
        position: absolute;
        z-index: 2;
        top: -13px;

        left: 42%;
        width: 74px;
        background-color: var(--color-white);
        display: flex;
        justify-content: center;

        @media screen and (max-width: 500px) {
            width: 43px;
        }

        svg {
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 20px;
            }
            @media screen and (max-width: 375px) {
                width: 12px;
                height: 12px;
            }
        }
    }

    .etoile_gauche {
        position: absolute;
        z-index: 2;
        bottom: 63%;
        left: -13px;

        width: 25px;
        height: 88px;
        background-color: var(--color-white);
        display: flex;

        align-items: center;

        @media screen and (max-width: 500px) {
            height: 43px;
        }

        svg {
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 20px;
            }

            @media screen and (max-width: 375px) {
                width: 12px;
                height: 12px;
            }
        }
    }

    .etoile_droite {
        position: absolute;
        z-index: 2;
        bottom: 63%;
        right: -13px;
        width: 25px;
        height: 88px;
        background-color: var(--color-white);
        display: flex;

        align-items: center;

        @media screen and (max-width: 500px) {
            height: 43px;
        }

        svg {
            @media screen and (max-width: 500px) {
                width: 20px;
                height: 20px;
            }

            @media screen and (max-width: 375px) {
                width: 12px;
                height: 12px;
            }
        }
    }
}

.media_content {
    width: 100%;
    height: 600px;

    .titre_droite {
        width: 672px;

        color: var(--color-secondaire-typo);

        position: absolute; //pour mettre le text en avant de l'image
        z-index: 15;
        right: 0;
        bottom: 17%;

        @media screen and (max-width: 900px) {
            padding-left: 200px;
        }

        @media screen and (max-width: 700px) {
            padding-left: 300px;
        }

        @media screen and (max-width: 500px) {
            padding-left: 400px;
            bottom: 27%;
        }
    }

    .container_ligne_profil {
        width: 100%;
        .container_ligne_cercle {
            display: flex;
            justify-content: center;
            width: 100%;

            .gros_cercle {
            }
        }

        .profil {
            h3 {
                flex: 1;
                white-space: normal; //allows text to wrap naturally

                @media screen and (max-width: 905px) {
                    width: 70%;
                }
            }
        }
    }
}

.titre_gauche {
    position: absolute;
    margin-top: 67px;
    width: 667px;
    z-index: -10;

    @media screen and (max-width: 500px) {
        margin-top: 47px;
        margin-left: 15px;
    }
    .salutation {
        background-color: var(--color-white);
        color: var(--color-secondaire-typo);
    }

    .ligne_cercles {
        position: absolute;
        z-index: -10;
        display: flex;
        align-items: center;
    }

    .ligne_hero {
        position: absolute;
        z-index: -1;
        left: 105%;
        width: 1200px;
    }

    .gros_cercle {
        position: absolute;
        z-index: -5;
        right: -12%;
    }

    .petit_cercle {
        position: absolute;
        z-index: 5;
        right: -110%;
    }
}

.grosse_etoile_verte_gauche {
    position: absolute;
    left: 7%;
    bottom: 10%;
    z-index: -6;

    animation: float 3s ease-in-out infinite;

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.grosse_etoile_verte_droite {
    position: absolute;
    right: 13%;
    top: 20%;
    z-index: -11;
    width: 271px;
    height: 271px;

    animation: float 4s ease-in-out infinite;

    @media screen and (max-width: 1848px) {
        width: 200px;
        height: 200px;
        top: 35%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px); /* Move up by 20px */
    }
    100% {
        transform: translateY(0px);
    }
}
