.hero {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        height: 753px;
        width: 1440px;
        object-fit: cover;
        object-position: center;

        position: relative;
        z-index: -5;
    }

    .hero_content {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        margin-top: 10px;
        .ligne {
            width: 234px;
            height: 1px;
            background-color: var(--color-white);
        }
        h1 {
            padding: 0 100px;
        }
    }

    .hero_contour {
        position: absolute;
        top: 207px;

        width: 1300px;
        height: 640px;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        @media screen and (max-width: 1165px) {
            display: none;
        }
    }
}

.hero_recettes {
    border-top: 1px solid var(--color-black);
    padding: 87px 0;
    .hero_content {
        text-align: left;
        width: 1080px;
    }
    .divider {
        height: 1px;
        background-color: var(--color-black);
    }
}
