.lottie_hero {
    width: 2100px;
    height: 300px;
    position: absolute;
    z-index: -12;
    top: 25%;
    left: -5%;
}

.lottie_propos_coin_droit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    margin-top: -768px;
    margin-right: -627px;
}

.animation {
    svg {
        max-height: 100%;
    }
}

.lottie_livre {
    position: absolute;
    top: 15%;
    right: -35%;
    z-index: 1;

    .animation {
        svg {
            max-height: 100%;
        }
    }
}

.lottie_apropos2 {
    position: absolute;
    bottom: -38%;
    left: -32%;
    z-index: 1;

    .animation {
        svg {
            max-height: 100%;
        }
    }
}

.lottie_fleche_video {
    position: absolute;
    top: -17%;
    left: -4%;
    z-index: 1;

    .animation {
        svg {
            max-height: 100%;
        }
    }
}
