.lottie_hero {
    width: 2100px;
    height: 300px;
    position: absolute;
    z-index: -12;
    top: 25%;
    left: -5%;

    @media screen and (max-width: 1400px) {
        top: 28%;
        width: 1531px;
    }

    @media screen and (max-width: 1306px) {
        top: 38%;
        width: 1428px;
    }

    @media screen and (max-width: 1200px) {
        width: 1312px;
    }

    @media screen and (max-width: 970px) {
        width: 1060px;
    }

    @media screen and (max-width: 768px) {
        width: 840px;
    }
    @media screen and (max-width: 500px) {
        width: 546px;
        top: 24%;
    }

    @media screen and (max-width: 375px) {
        width: 410px;
    }
}

.lottie_propos_coin_droit {
    position: absolute;
    bottom: 40%;
    left: 40%;
    z-index: -10;

    @media screen and (max-width: 1535px) {
        bottom: 45%;
    }

    @media screen and (max-width: 768px) {
        bottom: 48%;
    }
}

.animation {
    svg {
        max-height: 100%;
    }
}

.lottie_livre {
    position: absolute;
    top: 10%;
    right: -36%;
    z-index: -10;

    .animation {
        svg {
            max-height: 100%;
        }
    }

    @media screen and (max-width: 1568px) {
        top: 17%;
        right: -38%;
    }

    @media screen and (max-width: 1130px) {
        top: 19%;
        right: -40%;
    }

    @media screen and (max-width: 983px) {
        top: 24%;
        right: -40%;
    }

    @media screen and (max-width: 850px) {
        top: 22%;
        right: -40%;
    }

    @media screen and (max-width: 768px) {
        top: 10%;
        right: -36%;
    }
}

.lottie_apropos2 {
    position: absolute;
    bottom: -38%;
    left: -40%;
    z-index: -10;

    .animation {
        svg {
            max-height: 100%;
        }
    }

    @media screen and (max-width: 1750px) {
        bottom: -40%;
        left: -42%;
    }

    @media screen and (max-width: 1430px) {
        bottom: -42%;
        left: -44%;
    }

    @media screen and (max-width: 1152px) {
        left: -49%;
        bottom: -46%;
    }

    @media screen and (max-width: 625px) {
        left: -49%;
        bottom: -48%;
    }
}
.lottie_video {
    margin-top: 30px;
    margin-right: 15px;
}

.lottie_fleche_video {
    position: absolute;
    top: -19%;

    left: -15%;
    z-index: -2;

    .animation {
        svg {
            max-height: 100%;
        }
    }

    @media screen and (max-width: 1570px) {
        top: -19%;
        left: -22%;
    }
    @media screen and (max-width: 1292px) {
        top: -23%;
        left: -26%;
    }

    @media screen and (max-width: 1036px) {
        top: -22%;
        left: -30%;
    }

    @media screen and (max-width: 768px) {
        top: -32%;
        left: -38%;
    }

    @media screen and (max-width: 745px) {
        top: -31%;
        left: -41%;
    }

    @media screen and (max-width: 584px) {
        top: -30%;
        left: -45%;
    }

    @media screen and (max-width: 500px) {
        top: -29%;
        left: -47%;
    }

    @media screen and (max-width: 452px) {
        top: -29%;
        left: -50%;
    }

    @media screen and (max-width: 436px) {
        top: -29%;
        left: -52%;
    }

    @media screen and (max-width: 409px) {
        top: -28%;
        left: -52%;
    }

    @media screen and (max-width: 376px) {
        top: -26%;
        left: -52%;
    }
}

.lottie_footer {
    position: absolute;
    top: -25%;
    right: -42%;
    z-index: -2;
    height: 300px;
    //background-color: var(--color-black);

    .animation {
        svg {
            max-height: 100%;
        }
    }

    @media screen and (max-width: 1100px) {
        right: -35%;
        top: -30%;
    }

    @media screen and (max-width: 937px) {
        top: -35%;
    }

    @media screen and (max-width: 820px) {
        top: -40%;
    }

    @media screen and (max-width: 500px) {
        top: -42%;
    }

    @media screen and (max-width: 395px) {
        top: -43%;
    }
}
