.lottie_hero {
    width: 2100px;
    height: 300px;
    position: absolute;
    z-index: -12;
    top: 25%;
    left: -5%;
}

.lottie_propos_coin_droit {
    position: absolute;
    bottom: 40%;
    left: 40%;
    z-index: -10;

    /* transform: translate(
        -50%,
        50%
    ); /* Centers the Lottie relative to its position */
}

.animation {
    svg {
        max-height: 100%;
    }
}

.lottie_livre {
    position: absolute;
    top: 15%;
    right: -35%;
    z-index: -10;

    .animation {
        svg {
            max-height: 100%;
        }
    }
}

.lottie_apropos2 {
    position: absolute;
    bottom: -38%;
    left: -32%;
    z-index: -10;

    .animation {
        svg {
            max-height: 100%;
        }
    }
}

.lottie_fleche_video {
    position: absolute;
    top: -18%;

    right: 10%;
    z-index: -10;

    .animation {
        svg {
            max-height: 100%;
        }
    }
}
