/*-------------NOM BKG-----------------------------*/

.titre_bkg {
    position: relative;
    max-height: 300px;
    height: 300px;
    margin-bottom: 150px;

    @media screen and (max-width: 990px) {
        max-height: 150px;
    }

    @media screen and (max-width: 585px) {
        max-height: 75px;
    }

    @media screen and (max-width: 499px) {
        max-height: 50px;

        font-size: 80px;
    }

    .h1-bkg {
        color: transparent; /* No fill color */
        -webkit-text-stroke: 2px #000000; /* White stroke of 2px width */
        text-wrap: nowrap;

        position: absolute;
        top: -40%;
    }
}

/*---------------SECTION A PROPOS---------------------------*/

.a_propos {
    position: relative;
    background-color: var(--color-primary);
    padding: 102px 0 133px 0;
    z-index: -10;

    color: var(--color-white);

    p {
        color: var(--color-white);
    }

    .wrapper {
        position: relative;
    }

    .description_lien_video {
        max-width: 1599px;

        display: grid;
        gap: 20px;
        flex-wrap: wrap;

        p {
            max-width: 1082px;

            @media screen and (max-width: 500px) {
                max-width: 360px;
            }
        }
        .titre_cercle {
            display: flex;
            gap: 150px;
            max-height: 165px;

            align-items: flex-end;

            @media screen and (max-width: 500px) {
                gap: 100px;
            }

            @media screen and (max-width: 414px) {
                gap: 75px;
            }

            @media screen and (max-width: 388px) {
                gap: 60px;
            }

            @media screen and (max-width: 375px) {
                gap: 50px;
            }

            .cercle {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: 100%;

                @media screen and (max-width: 500px) {
                }
            }

            .forme_cercle {
                border-radius: 100%;
                border: 1px solid var(--color-white);

                width: 3.65vw;
                height: 3.65vw; //keep it a perfect circle
                max-width: 80vw;
                max-height: 80vh;
                background-color: var(--color-quaternaire);
            }
        }
    }

    .lien_video {
        display: flex;
        justify-content: flex-end;

        width: 80vw;

        @media screen and (max-width: 435px) {
        }
    }

    .video {
        display: flex;
        align-items: flex-end;
        margin-left: 15px;

        a {
            position: relative;
            padding: 20px;

            transition: transform 0.3s ease, color 0.4s ease;

            @media screen and (max-width: 462px) {
                padding: 10px;
            }

            @media screen and (max-width: 435px) {
                padding: 5px;
            }

            &:hover {
                background-color: var(--color-quaternaire);
            }
        }

        a::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;

            top: 0;
            left: 0;
            box-sizing: border-box;

            transform: scale(0);
            transform-origin: top left;

            transition: transform 0.6s ease, border-color 0.6s ease; /* Animation timing */
        }

        a:hover:after {
            transform: scale(1);

            border-top-color: var(--color-white);
            border-left-color: var(--color-white);
        }

        a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid transparent;
            border-right: 1px solid transparent;

            top: 0;
            left: 0;
            box-sizing: border-box;

            transform: scale(0);
            transform-origin: bottom right;

            transition: transform 0.6s ease, border-color 0.6s ease; /* Animation timing */
        }

        a:hover:before {
            transform: scale(1);

            border-bottom-color: var(--color-white);
            border-right-color: var(--color-white);
        }
    }

    .groupes_etoiles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;

        .etoile_grosse {
            .etoile {
                width: 8vw;
                height: 8vw;
                stroke-width: 0.2px;

                animation: float 6s ease-in-out infinite;
            }
        }

        .etoile_petite {
            position: absolute;
            top: 0;
            left: 0;

            animation: twinkle 6s infinite ease-in-out; /* Continuous twinkling */

            .etoile {
                width: 2vw;
                height: 2vw;
            }
        }

        .etoile_moyenne {
            position: absolute;
            bottom: 0;
            right: 0;

            animation: twinkle 4s infinite ease-in-out; /* Continuous twinkling */
            width: 3vw;
            height: 3vw;
        }

        /* Keyframes for twinkling effect */
        @keyframes twinkle {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }

    .gros_cercle {
        position: absolute;
        top: 33%;
        left: -8%;
        z-index: -3;

        width: 20vw;
        height: 20vw; //keep it a perfect circle
        max-width: 80vw;
        max-height: 80vh;
        border-radius: 100%;
        border: 1px solid var(--color-white);
        background-color: var(--color-quaternaire);
    }

    .gros_cercle_deux {
        display: none;
        position: absolute;
        top: 85%;
        right: -8%;
        z-index: -3;

        width: 20vw;
        height: 20vw; //keep it a perfect circle
        max-width: 80vw;
        max-height: 80vh;
        border-radius: 100%;
        border: 1px solid var(--color-white);
        background-color: var(--color-quaternaire);

        @media screen and (max-width: 500px) {
            display: block;
        }
    }

    .aspects {
        padding: 0 7vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        // gap: 160px;
        gap: 40px;
        margin-top: 187px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .langages,
    .loisirs {
        display: inline-grid;
        justify-content: flex-end;
        margin-top: 50px;

        @media screen and (max-width: 1152px) {
            justify-content: flex-start;
        }
    }

    .loisirs {
        margin-top: 50px;
        margin-right: 125px;
    }

    .souligne_titre {
        display: flex;
        align-items: center;
        margin-top: 35px;

        gap: 11px;

        @media screen and (max-width: 1152px) {
            margin-top: 20px;
            gap: 43;
        }
        .ligne {
            width: 176px;
            height: 1px;
            background-color: var(--color-white);
        }

        .etoile {
            display: flex;
            align-items: center;
        }
    }

    /*---------------DECORATIONS LIBRES-------------------------*/
    .deuxieme_cercle {
        display: none;
        position: absolute;
        top: 50%;
        right: 20%;
        height: 100%;

        @media screen and (max-width: 500px) {
            display: block;
        }
    }

    .troisieme_cercle {
        display: none;
        position: absolute;
        top: 80%;
        left: 7%;
        height: 100%;

        @media screen and (max-width: 500px) {
            display: block;
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px); /* Move up by 20px */
        }
        100% {
            transform: translateY(0px);
        }
    }

    .forme_cercle {
        border-radius: 100%;
        border: 1px solid var(--color-white);

        width: 3.65vw;
        height: 3.65vw; //keep it a perfect circle
        max-width: 80vw;
        max-height: 80vh;
        background-color: var(--color-quaternaire);

        animation: float 4s ease-in-out infinite;
    }

    .etoile_seule {
        display: none;
        position: absolute;
        top: 90%;
        right: 10%;

        .etoile {
            width: 8vw;
            height: 8vw;
            stroke-width: 0.2px;

            animation: float 6s ease-in-out infinite;
        }

        @media screen and (max-width: 500px) {
            display: block;
        }
    }
}

/*-------------------------------------------------------------------*/
/*SECTION PROJETS----------------------------------------------------*/

.mes_projets {
    padding: 172px 0;
    position: relative;
    // height: 1000px;

    .wrapper {
        margin-top: 172px;
        display: flex;
        align-items: center;
        gap: 42px;

        .ligne_etoile {
            display: flex;
            align-items: center;
            gap: 17px;
            margin-right: 15px;

            .ligne {
                width: 70vw;
                height: 1px;
                background-color: var(--color-primary);

                @media screen and (max-width: 1140px) {
                    width: 60vw;
                }

                @media screen and (max-width: 703px) {
                    width: 50vw;
                }

                @media screen and (max-width: 500px) {
                    width: 45vw;
                }

                @media screen and (max-width: 499px) {
                    width: 35vw;
                }
            }

            .etoile {
                display: flex;
                align-items: center;
            }
        }
    }
    h2 {
        color: var(--color-secondaire-typo);
    }

    .grosse_etoile_verte_gauche {
        position: absolute;
        top: 0;
        left: 0;

        animation: float 3s ease-in-out infinite;
    }
}
