//ACCUEIL

.texte_explicatif {
    margin: 55px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 37px;

        text-align: center;
        width: 1049px;
    }
    .ligne {
        width: 149px;
        height: 1px;
        background-color: var(--color-black);
    }
}

.favoris {
    background-color: var(--color-secondary);
    padding: 82px 0 103px 0;

    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        border: 1px solid white;

        height: 890px;
    }

    h2 {
        color: var(--color-white);
    }

    .titre {
        position: absolute;
        z-index: 5;
        top: 57px;

        padding: 0 100px 63px 100px;

        background-color: var(--color-secondary);
    }

    .lien_recettes {
        position: relative;
        z-index: 5;
        padding-bottom: 41px;
        color: var(--color-white);

        a {
            border-bottom: 1px solid var(--color-white);
            transition: all 0.3s ease;

            &:hover {
                border-bottom: 1px solid var(--color-primary);
                font-size: 27px;

                // font-weight: 400;
            }
        }
    }
}

//PAGE DES RECETTES
.nos_recettes {
    margin-bottom: 113px;
}

//Une recette
.un_dessert {
    padding-top: 129px;
    border-top: 1px solid var(--color-secondary);
}

//PAGE 404

.page_404 {
    padding: 63px 0;
    border-top: 1px solid var(--color-secondary);

    h2 {
        margin-bottom: 63px;
        color: var(--color-black);
    }
    p {
        margin-bottom: 63px;
    }
}

//Page Contact

.contact {
    padding: 63px 0;
    border-top: 1px solid var(--color-secondary);

    h2 {
        margin-bottom: 63px;
    }
}
