/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-black);
    line-height: 1.6;
    overflow-x: hidden;
    max-width: 100%;

    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1165px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 925px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 375px) {
}
