/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    line-height: 1.1;
    font-weight: bold;
    margin: 0;
    // color: var(--color-secondaire-typo);
}

.h1-bkg {
    font-size: var(--font-size-h1-bkg);
    font-weight: 700;
    color: var(--color-bkg-primaire);
}
h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1;
    // color: var(--color-black);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 400;
    font-family: var(--font-primary);
    color: var(--color-secondaire-typo);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 400;
    font-family: var(--font-secondary);
    color: var(--color-secondaire-typo);
}

em {
    font-style: italic;
}
