p {
    font-family: var(--font-secondary);
    font-size: var(--font-size-p);
    font-weight: 300;
}

.p-big {
    font-family: var(--font-secondary);
    font-size: var(--font-size-p);
    font-weight: 400;
}

.p-small {
    font-family: var(--font-secondary);
    font-size: var(--font-size-p-small);
    font-weight: 300;
}

.copyright {
    font-size: var(--font-size-copyright);
    font-family: var(--font-secondary);
}

.categorie {
    font-family: var(--font-secondary);
    font-size: var(--font-size-categories);
    font-weight: 400;
}
