/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #5f7a69;
    --color-secondaire-typo: #475041;
    --color-tertiaire: #c0ccc4;
    --color-quaternaire: #4c6455;
    --color-bkg: #5f7a69;
    --color-icons: #494949;
}
