/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #5f7a69;
    --color-secondary: #84988b;
    --color-bkg-primaire: #aeb8b0;
    --color-icons: #494949;
}
