/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Rufina', sans-serif;
    --font-secondary: 'Source Sans 3', sans-serif;

    /// Grosseur des textes
    --font-size-h1-bkg: #{typo(150px, 400px)};
    --font-size-h1: #{typo(40px, 133px)};
    --font-size-h2: #{typo(35px, 80px)};
    --font-size-h3: #{typo(30px, 48px)};
    --font-size-p: #{typo(20px, 35px)};
    --font-size-p-small: #{typo(15px, 25px)};
    --font-size-lien: #{typo(20px, 32px)};
    --font-size-btn: #{typo(18px, 30px)};
}
