{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero_content">
            <div class="ligne"></div>
            <h1>Coeur de Sucre</h1>
            <div class="ligne"></div>
        </div>

        <div class="hero_contour"></div>
        <div class="hero_media">
            <img src="../assets/images/hero_img.png" alt="gateau chocolat en gros plan" />
        </div>
    </div>
</section>
<section class="texte_explicatif">
    <div class="wrapper">
        <div class="ligne"></div>
        <h2>Succombez à la Tentation Sucrée</h2>
        <p>
            Découvrez nos recettes de desserts faciles et gourmandes, parfaites pour tous les niveaux. Rejoignez-nous et
            régalez-vous à chaque bouchée !
        </p>
        <div class="ligne"></div>
    </div>
</section>

<section class="favoris">
    <div class="wrapper">
        <div class="titre">
            <h2>Les Chouchous de la Cuisine</h2>
        </div>

        <div class="cards_favoris">
            <div class="card">
                <div class="card_media">
                    <img src="assets/images/biscuit.png" alt="biscuit au chocolat" />
                </div>
                <div class="card_content">
                    <h3>Biscuits au chocolat fondants</h3>
                </div>
            </div>

            <div class="card">
                <div class="card_media">
                    <img src="assets/images/pte_tarte.png" alt="pointe de tarte" />
                </div>
                <div class="card_content">
                    <h3>Tarte au chocolat et caramel</h3>
                </div>
            </div>
        </div>

        <div class="lien_recettes">
            <a href="page-les-recettes.html"> Explorez toutes nos recettes </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
