{% include '_partials/_header.html' %}

<div class="hero">
    <div class="wrapper">
        <div class="hero_content">
            <div class="titre_gauche">
                <h1>hey, je suis</h1>
            </div>

            <div class="titre_droite">
                <h1>Ève Delisle</h1>

                <div class="soustitre">
                    <h3>Designer & Intégratrice Web</h3>
                    <div class="ligne_cercles">
                        <div class="ligne"></div>
                        <div class="gros_cercle"></div>
                        <div class="petit_cercle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero_media">
            <div class="border_img etoile_top">
                <svg
                    class="border_etoile"
                    xmlns="http://www.w3.org/2000/svg"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                >
                    <path
                        d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                        fill="black"
                        stroke="white"
                    />
                </svg>
            </div>
            <div class="etoile_gauche">
                <svg
                    class="border_etoile"
                    xmlns="http://www.w3.org/2000/svg"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                >
                    <path
                        d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                        fill="black"
                        stroke="white"
                    />
                </svg>
            </div>

            <div class="etoile_droite">
                <svg
                    class="border_etoile"
                    xmlns="http://www.w3.org/2000/svg"
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                >
                    <path
                        d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                        fill="black"
                        stroke="white"
                    />
                </svg>
            </div>

            <img src="../assets/images/img_hero_remplacement.png" alt="photo de Eve Delisle" />
        </div>
    </div>

    <!--<div id="lottie-container1" class="lottie_hero" data-component="Lottie"></div>-->
</div>

{% include '_partials/_footer.html' %}
