{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">

        <div class="cercle_en_haut_droite">
            <div class="cercle"></div>
        </div>
        <div class="titre_gauche">
           
            <div class="ligne_salutation">
                <div class="ligne_cercles">
                    <div class="ligne_hero"></div>
                    <div class="gros_cercle"></div>
                        <div class="petit_cercle">
                            <div class="cercle"></div>
                        </div>  

                        <div class="salutation">
                            <h1>hey, je suis</h1>
                        </div>
                </div>
               
            </div>
        </div>

        <div class="cercle_dessous_titre_gauche">
            <div class="cercle"></div>
        </div>
        
        <div class="media prenom_profile">
            <div class="photo_de_moi">
                <div class="border_img etoile_top">
                    <svg
                        class="border_etoile"
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="27"
                        viewBox="0 0 27 27"
                        fill="none"
                    >
                        <path
                            d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                            fill="black"
                            stroke="white"
                        />
                    </svg>
                </div>
                <div class="etoile_gauche">
                    <svg
                        class="border_etoile"
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="27"
                        viewBox="0 0 27 27"
                        fill="none"
                    >
                        <path
                            d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                            fill="black"
                            stroke="white"
                        />
                    </svg>
                </div>

                <div class="etoile_droite">
                    <svg
                        class="border_etoile"
                        xmlns="http://www.w3.org/2000/svg"
                        width="27"
                        height="27"
                        viewBox="0 0 27 27"
                        fill="none"
                    >
                        <path
                            d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                            fill="black"
                            stroke="white"
                        />
                    </svg>
                </div>

                <img src="../assets/images/img_hero_remplacement.png" alt="photo de Eve Delisle" />
            </div>
            <div class="titre_droite">
                <div class="nom">
                    <h1>Ève Delisle</h1>
                </div>
                    <div class="ligne_profil">
                        
                        <div class="ligne_cercles"></div>
                            <div class="ligne_hero"></div>
                            <div class="gros_cercle"></div>
                            <div class="petit_cercle">
                                <div class="cercle"></div>
                            </div>

                            <div class="profil">
                             <h3>Designer & Intégratrice Web</h3>
                            </div>
                        </div>
                      
                        
                    </div>
                
            </div>
        </div>

        <dotlottie-player data-component="Lottie"
        class="lottie_hero"
            src="https://lottie.host/44357216-0974-4e2e-972b-ac250ebd85a4/21sEgi8hqW.json"
            background="transparent"
           
            speed="1"
            playMode="normal"
            direction="1"
            autoplay
            data-reverse
           

            
            >
        </dotlottie-player>
        <div class="deux_etoiles">
            <div class="moyenne_etoile">
                <svg
                class="etoile"
                xmlns="http://www.w3.org/2000/svg"
                width="147"
                height="147"
                viewBox="0 0 27 27"
                fill="none"
                >
                <path
                    d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                    stroke="#5f7a69"
                    
                />
                </svg>
            </div>
            <div class="petite_etoile_verte">
                <svg
                class="etoile"
                xmlns="http://www.w3.org/2000/svg"
                width="89"
                height="89"
                viewBox="0 0 27 27"
                fill="none"
                >
                <path
                    d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                    fill="#5f7a69"
                    
                />
                </svg>
            </div>
        </div>

        <div class="grosse_etoile_verte_droite">

            <svg
            class="etoile"
            xmlns="http://www.w3.org/2000/svg"
            width="271"
            height="271"
            viewBox="0 0 27 27"
            fill="none"
            >
            <path
                d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                fill="#c0ccc4"
                
            />
            </svg>

        </div>
        <div class="grosse_etoile_verte_gauche">

            <svg
            class="etoile"
            xmlns="http://www.w3.org/2000/svg"
            width="271"
            height="271"
            viewBox="0 0 27 27"
            fill="none"
            >
            <path
                d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                fill="#c0ccc4"
                
            />
            </svg>

        </div>
    </section>
    <!--<div id="lottie-container1" class="lottie_hero" data-component="Lottie"></div>-->
</div>
<section class="a_propos">
    <div class="wrapper">
        <div class="description_lien_video">
            <div class="titre_cercle">
                 <h1>Plus sur moi</h1>
                <div class="cercle">
                    <div class="forme_cercle"></div>
                </div>
            </div>
           
            
            <p>Je suis étudiante passionnée par le design et l’intégration web . Mon objectif est de concevoir des solutions à la fois belles et pratiques, qui répondent vraiment aux besoins des gens tout en exprimant ma créativité. Je suis impatiente de participer à des projets inspirants et d'apprendre sans cesse dans ce domaine en  évolution.</p>
       
            <div class="lottie_video">
                <div class="lottie"></div>
                <div class="video">

                    <a href="">Voir ma vidéo de présentation</a>
                    <div class="groupes_etoiles">

                        <div class="etoile_petite">
                            <svg
                            class="etoile"
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 27 27"
                            fill="none"
                            >
                            <path
                            d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                            fill="#fff"
                            
                            />
                            </svg>
                         </div>

                        <div class="etoile_grosse">
                                <svg
                                class="etoile"
                                xmlns="http://www.w3.org/2000/svg"
                                width="147"
                                height="147"
                                viewBox="0 0 27 27"
                                fill="none"
                                >
                            <path
                                d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                                fill="#4c6455"
                                stroke="white"
                                
                            />
                            </svg>
                        </div>
                        <svg
                        class="etoile_moyenne"
                        xmlns="http://www.w3.org/2000/svg"
                        width="45"
                        height="45"
                        viewBox="0 0 27 27"
                        fill="none"
                        >
                    <path
                        d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                        fill="#fff"
                        
                    />
                        </svg>


                    </div>
                   
                </div>
                

            </div>
        </div>  
        
        <div class="aspects">
            <div class="competences_qualites">
                <div class="competences">
                    <div class="titre">
                        <h2>Compétences</h2>
                        <div class="souligne_titre">
                            <div class="ligne"></div>
                            <div class="etoile">
                                <svg
                                class="border_etoile"
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                viewBox="0 0 27 27"
                                fill="none"
                            >
                                <path
                                    d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                                    fill="white"
                                    
                                />
                            </svg>
                            </div>
                        </div>
                    </div>
                        <p>Design web</p>
                        <p>Intégration web</p>
                        <p>Résolution de problèmes</p>
                        <p>Design graphique</p>
                </div>
                <div class="qualites">
                    <div class="titre">
                        <h2>Qualités</h2>
                        <div class="souligne_titre">
                            <div class="ligne"></div>
                            <div class="etoile">
                                <svg
                                class="border_etoile"
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                viewBox="0 0 27 27"
                                fill="none"
                            >
                                <path
                                    d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                                    fill="white"
                                    
                                />
                            </svg>
                            </div>
                        </div>
                    </div>
                        <p>Créativité</p>
                        <p>Organisation</p>
                        <p>Ouverture d'esprit</p>
                        <p>Compétitif</p>
                </div>
                <div class="lottie"></div>

            
               <div class="cercle_dessous_aspects">
                    <div class="cercle"></div>
               </div>
            </div>

            

            <div class="langages_loisirs">
                <div class="langages">
                    <div class="titre">
                        <h2>Langages</h2>
                        <div class="souligne_titre">
                            <div class="ligne"></div>
                            <div class="etoile">
                                <svg
                                class="border_etoile"
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                viewBox="0 0 27 27"
                                fill="none"
                            >
                                <path
                                    d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                                    fill="white"
                                    
                                />
                            </svg>
                            </div>
                        </div>
                    </div>
                        <p>Figma</p>
                        <p>VSCode</p>
                        <p>HTML/CSS</p>
                        <p>Photoshop</p>
                </div>
                <div class="loisirs">
                    <div class="titre">
                        <h2>Mes Loisirs</h2>
                        <div class="souligne_titre">
                            <div class="ligne"></div>
                            <div class="etoile">
                                <svg
                                class="border_etoile"
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                viewBox="0 0 27 27"
                                fill="none"
                            >
                                <path
                                    d="M9.64407 11.0334C7.40678 12.7726 2.94915 13.3746 1 13.4582C3.31638 13.709 8.42373 14.6789 10.322 16.5518C12.2203 18.4247 13.3164 23.631 13.6271 26C13.8814 24.913 14.5593 17.7224 17.2712 15.8829C19.4407 14.4114 23.9944 13.6533 26 13.4582C20.9153 12.8729 18.2034 11.7023 17.2712 11.0334C15.273 9.59966 13.8814 3.87068 13.6271 1C13.2881 4.01003 12.4407 8.85953 9.64407 11.0334Z"
                                    fill="white"
                                    
                                />
                            </svg>
                            </div>
                        </div>
                    </div>
                        <p>Jeux vidéos</p>
                        <p>Faire des pâtisseries</p>
                        <p>Lire des livres</p>
                        <p>Jeux de sociétés</p>
                </div>
                <div class="lottie"></div>

            </div>
        </div>
    </div>

    <div class="gros_cercle"></div>

    
        <lottie-player data-component="Lottie" id="monLottieInteractif"  class="lottie_propos_coin_droit"  style="width:100%; height:100%;" src="assets/lottie/lottie_apropos.json" data-scroll></lottie-player>
   
</section>

<section class="mes_projets">
    <div class="wrapper">
        <div class="carousel-container">
            <div class="carousel">
              
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card_content">
                                <div class="ligne_projet"></div>
                                <div class="info_projet">
                                    <div class="type_projet">
                                        <p class="p-small">Refonte de site web</p>
                                        <div class="divider_type"></div>
                                        <p class="p-small">Projet Étudiant</p>
                                    </div>
                                    <h3>Baie Ste-Catherine</h3>
                                    <p>Design et intégration HTML/CSS/JS d’un site web responsive</p>

                                    <a href="" class="btn_projet">Voir les détails</a>
                                </div>
                                
                            </div>

                           
                                <img src="../assets/images/mockup_sauvemarin.png" alt="sauve marin">
                           

                            <div class="numero_projet">
                                <h1 class="h1-bkg">01</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card_content">
                                <div class="ligne_projet"></div>
                                <div class="info_projet">
                                    <div class="type_projet">
                                        <p class="p-small">Refonte de site web</p>
                                        <div class="divider_type"></div>
                                        <p class="p-small">Projet Étudiant</p>
                                    </div>
                                    <h3>Baie Ste-Catherine</h3>
                                    <p>Design et intégration HTML/CSS/JS d’un site web responsive</p>

                                    <a href="https://www.behance.net/gallery/209091647/Refonte-Baie-Sainte-Catherine" class="btn_projet">Voir les détails</a>
                                </div>
                                
                            </div>

                           
                                <img src="../assets/images/mockup_sauvemarin.png" alt="sauve marin">
                           

                            <div class="numero_projet">
                                <h1 class="h1-bkg">01</h1>
                            </div>

                            
                        </div>
                    </div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
            
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
