{% include '_partials/_header.html' %}
<section class="un_dessert">
    <div class="wrapper">
        <div class="card">
            <div class="card_media">
                <div class="ajout_favoris">
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-icon_favoris"></use>
                    </svg>
                </div>
                <img src="assets/images/brownie.png" alt="brownie" />
            </div>
            <div class="card_content">
                <h2>Brownie classique au chocolat noir</h2>

                <div class="temps">
                    <div class="preparation">
                        <h3>Préparation:</h3>
                        <p>10 minutes</p>
                    </div>
                    <div class="cuisson">
                        <h3>Cuissson:</h3>
                        <p>20 minutes</p>
                    </div>
                    <div class="repo">
                        <h3>Repo:</h3>
                        <p>10 minutes</p>
                    </div>
                </div>

                <div class="description">
                    <div class="divider"></div>
                    <p>
                        Le Brownie Classique au Chocolat Noir est un dessert irrésistiblement fondant et riche, parfait
                        pour les amateurs de chocolat. Son cœur moelleux et sa croûte légèrement craquante offrent un
                        contraste délicieux à chaque bouchée. Réalisé avec du chocolat noir de qualité, il dévoile des
                        arômes intenses et profonds, rehaussés par une pointe de vanille. Ce brownie délicieux se
                        déguste tel quel ou accompagné d'une boule de glace vanille, apportant une touche fraîche et
                        gourmande.
                    </p>
                    <div class="divider"></div>
                </div>

                <div class="allergenes">
                    <h3>Allergènes</h3>

                    <div class="allergies">
                        <p>Sans Noix</p>
                        <div class="divider"></div>
                        <p>Végétarien</p>
                        <div class="divider"></div>
                        <p>Sans Arachides</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper" data-component="Carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/biscuit.png" alt="biscuit" />
                <div class="titre">
                    <div class="ligne"></div>
                    <h2>Titre</h2>
                    <div class="ligne"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/croissant.png" alt="croissant" />
                <div class="titre">
                    <div class="ligne"></div>
                    <h2>Titre</h2>
                    <div class="ligne"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/gateau.png" alt="gateau" />

                <div class="titre">
                    <div class="ligne"></div>
                    <h2>Titre</h2>
                    <div class="ligne"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
