{% include '_partials/_header.html' %}
<section class="hero_recettes">
    <div class="wrapper">
        <div class="hero_content">
            <h2>Toutes nos délices au chocolat</h2>
            <p>
                Découvrez nos desserts au chocolat, riches en saveurs et en intensité. Un plaisir gourmand pour tous les
                amateurs de chocolat !
            </p>

            <div class="divider"></div>
        </div>
    </div>
</section>
<section class="nos_recettes">
    <div class="wrapper">
        <div class="cards_recettes">
            <div class="card">
                <div class="card_media">
                    <a href="page-une-recette.html">
                        <img src="assets/images/brownie.png" alt="brownie" />
                    </a>
                </div>
                <div class="categories">
                    <p class="categorie">Rapide</p>
                    <p class="categorie">Individuels</p>
                    <p class="categorie">Fête</p>
                    <p class="categorie">Réconfort</p>
                </div>
                <div class="card_content">
                    <div class="informations">
                        <div class="divider"></div>
                        <a href="page-une-recette.html">
                            <h3>Brownie classique au chocolat noir</h3>
                        </a>
                        <div class="divider"></div>
                        <p class="p-small">
                            Le brownie classique au chocolat noir est fondant et riche, avec une croûte légèrement
                            craquante et une saveur intense.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_media">
                    <a href="#">
                        <img src="assets/images/cupcake.png" alt="cupcake" />
                    </a>
                </div>
                <div class="categories">
                    <p class="categorie">Rapide</p>
                    <p class="categorie">Individuels</p>
                    <p class="categorie">Fête</p>
                    <p class="categorie">Réconfort</p>
                </div>
                <div class="card_content">
                    <div class="informations">
                        <div class="divider"></div>
                        <a href="#">
                            <h3>Cupcakes avec un cœur de ganache au chocolat</h3>
                        </a>
                        <div class="divider"></div>
                        <p class="p-small">
                            Cupcakes au chocolat avec un cœur fondant de ganache au chocolat, pour une bouchée riche et
                            crémeuse à chaque fois.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_media">
                    <a href="#">
                        <img src="assets/images/biscuit.png" alt="biscuit" />
                    </a>
                </div>
                <div class="categories">
                    <p class="categorie">Rapide</p>
                    <p class="categorie">Individuels</p>

                    <p class="categorie">Réconfort</p>
                </div>
                <div class="card_content">
                    <div class="informations">
                        <div class="divider"></div>
                        <a href="#">
                            <h3>Biscuits au chocolat fondants</h3>
                        </a>
                        <div class="divider"></div>
                        <p class="p-small">
                            Biscuits au chocolat fondants avec boules de chocolat : un mélange parfait de douceur
                            moelleuse et de chocolat croquant.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_media">
                    <a href="#">
                        <img src="assets/images/croissant.png" alt="croissant" />
                    </a>
                </div>
                <div class="card_content">
                    <div class="categories">
                        <p class="categorie">Textures</p>
                        <p class="categorie">Saveurs</p>
                    </div>
                    <div class="informations">
                        <div class="divider"></div>
                        <a href="#">
                            <h3>Croissants au chocolat et sel de mer</h3>
                        </a>
                        <div class="divider"></div>
                        <p class="p-small">
                            Les croissants au chocolat et sel de mer allient la douceur du chocolat fondant à la légère
                            note salée du sel de mer, offrant une expérience gustative délicieusement équilibrée.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_media">
                    <a href="#">
                        <img src="assets/images/pte_tarte.png" alt="tarte" />
                    </a>
                </div>
                <div class="card_content">
                    <div class="categories">
                        <p class="categorie">Textures</p>
                        <p class="categorie">Saveurs</p>
                        <p class="categorie">Fête</p>
                    </div>
                    <div class="informations">
                        <div class="divider"></div>
                        <a href="#">
                            <h3>Tarte au chocolat et caramel</h3>
                        </a>
                        <div class="divider"></div>
                        <p class="p-small">
                            La tarte au chocolat et caramel combine une croûte croustillante avec une garniture crémeuse
                            de chocolat et de caramel, offrant une harmonie parfaite de douceur et de richesse.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card_media">
                    <a href="#">
                        <img src="assets/images/gateau.png" alt="gateau" />
                    </a>
                </div>
                <div class="card_content">
                    <div class="categories">
                        <p class="categorie">Textures</p>
                        <p class="categorie">Saveurs</p>
                        <p class="categorie">Fête</p>
                    </div>
                    <div class="informations">
                        <div class="divider"></div>
                        <a href="#">
                            <h3>Gâteau au chocolat avec un glaçage au chocolat à base de fromage à la crème</h3>
                        </a>
                        <div class="divider"></div>
                        <p class="p-small">
                            Gâteau au chocolat riche et moelleux, recouvert d'un glaçage au chocolat onctueux à base de
                            fromage à la crème, pour une indulgence douce et crémeuse.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
